JarvisApp {
    scrollbar-visibility: hidden;
}

#dashboard {
    width: 1fr;
    height: 1fr;

    grid-size: 2 2;
    grid-columns: 2fr 3fr;
    grid-rows: 3fr 7fr;
    grid-gutter: 1;
}

#top-panel {
    column-span: 2;
}

#top-panel, 
#bottom-left,
#system-info {
    width: 1fr;
    height: 1fr;
}

#clock-date {
    width: auto;
    height: auto;
    margin: 1 0 0 3;
}

#clock {
    width: auto;
    height: auto;
}

#date {
    width: auto;
    height: auto;
    margin-left: 0;
}

#system-info {
    width: 1fr;
    height: 1fr;
}

Memory {
    width: 55;
    height: auto;
}

#memory-stack {
    align-horizontal: right; 
    margin: 0 0 0 20;
}

#memory-one,
#memory-two {
    width: 55;
    height: 4;
}
