JarvisApp {
    scrollbar-visibility: hidden;
}

#dashboard {
    width: 100%;
    height: 100%;
    padding-left: 2;
}

#left-panel {
    width: 100%;
    height: 100%;

    layout: vertical;
}

#clock-date {
    width: 100%;
    height: auto;
    margin-top: 1;
    margin-bottom: 1;
}

#sys-info {
    width: 30;
    height: auto;
}

#cpu,
#memory,
#disk {
    width: 25;
    height: 2;
}

#docker-info {
    width: 100%;
    height: 1fr;
}

#right-panel {
    width: 100%;
    height: 100%;
}