Memory {
    width: 42;
    height: auto;

    padding: 1 2;
    border: round $surface-lighten-2;
    background: $surface;
}

Memory .memory-row {
    width: 100%;
    height: auto;
}

Memory .memory-labels {
    width: 1fr;
    height: auto;
}

Memory .memory-values {
    width: auto;
    height: auto;

    align-horizontal: right;
}

Memory Static {
    height: 3;
    content-align: left middle;

    color: $text-muted;
}

MemoryPercentage,
MemoryAvailable {
    width: 14;
    height: 3;

    content-align: right middle;
    color: $text;
}